html{
	background-color: white;
}
h1{
	text-align: center;
	color: green;
	text-decoration-color: green ;
	font-size: 60px;
}
h2{
	text-align: center;
	color:black;
	font-size: 50px;
}
table{
	border: black 3px dashed;
	text-align-last: center;
	padding: 15px;
	margin: auto;
	border-spacing: 8px 6px;
}
table th{
	background-color: #73AAB1;
	color: white;
}
table td{
	background-color: #8AD9F0;
}

caption{
	color: red;
	font-size: 45px;

}


span {
 cursor: pointer;
 position:relative;
}


span.Zaragoza::before {
    display: none;
    content: attr(data-descr);
    color: white;
    background-color:#DA9ADC;
    position: relative; 
    opacity:0.8;
    border-radius: 5px;
 	margin-top: 5px;
   
}
span.Valencia::before {
    display: none;
    content: attr(data-descr);
    color: grey;
    background-color: #C6E892;
    position: relative; 
    opacity:0.9;
	border-radius: 5px;
	margin-right: 100px;
}
span.Madrid::before {
    display: none;
    content: attr(data-descr);
    color: blue;
    background-color: #DCC3C8 ;
    position: absolute; 
    opacity:0.8;
    border-radius: 5px;
    margin-top: 20px;

}
span:hover::before {
    display: block;
}